# UI credentials, ie /backups (Administrators -> Updater UI)
UI_USER=admin
UI_PASSWORD=password

# Update API credentials (Netbox -> Updater)
UPDATE_TOKEN=Token 123456abcdef

# Netbox API (Updater -> Netbox)
NETBOX_URL=https://netbox.local
NETBOX_TOKEN=123456abcdef

# RIPE (Updater -> RIPE)
DEFAULT_COUNTRY=GB
RIPE_MNT_PASSWORD=emptypassword
RIPE_DB=TEST

# Misc
DEBUG=no
